config.stopBubbling = true
lombok.anyconstructor.addconstructorproperties = false
lombok.addLombokGeneratedAnnotation = true
lombok.addSuppressWarnings = false

# Тустринг содержит родителя с его полями
lombok.toString.callSuper = call

# Тустринг не использует геттеры
lombok.toString.doNotUseGetters = true
